{% if item.product.category %}
<p class="small mt-1 mb-0">
    <a class="text-muted" href="{% url 'products' %}?category={{ item.product.category.name }}">
        <i class="fas fa-building mr-1"></i>{{ item.product.category.friendly_name }}
    </a>
</p>
<div class="product-details">
    {% if item.product.capacity %}
    <p class="small mt-1 mb-0"><i class="fas fa-users mr-1"></i>Capacity: {{ item.product.capacity }}</p>
    {% endif %}

    {% if item.product.square_feet %}
    <p class="small mt-1 mb-0"><i class="fas fa-ruler mr-1"></i>Square Feet: {{ item.product.square_feet }}</p>
    {% endif %}

    <p class="small mt-1 mb-0">
        <i class="fas fa-wifi mr-1"></i>Wi-Fi: {% if item.product.has_free_wifi %}Yes{% else %}No{% endif %}
    </p>

    <p class="small mt-1 mb-0">
        <i class="fas fa-utensils mr-1"></i>Catering: {% if item.product.has_catering %}Yes{% else %}No{% endif %}
    </p>

    <p class="small mt-1 mb-0">
        <i class="fas fa-wheelchair mr-1"></i>Accessible: {% if item.product.is_accessible %}Yes{% else %}No{% endif %}
    </p>
    <p class="small mt-1 mb-0">
        <i class="fas fa-calendar mr-1"></i> Booking Date {% if booking_date.available %}NO{% else %}Available{% endif %}
    </p>
</div>
<p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>


{% endif %}
