/* Base styles for all screen sizes */
html {
    height: 100%;
  }
  
  body {
    background: url(/media/background.webp) no-repeat center fixed;
    background-size: cover;
    height: calc(100% - 160px);
    color: #555;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .logo-img {
    display: block;
    margin: 0 auto;
    max-width: 150px; /* Adjust the logo */
    max-height: 100px;
  }
  
  .container {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 0 auto;
  }

  .btn-black {
    background: white;
    color: black;

  }
.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus{
  background: #222;
  color:white;
}
.text-black{
  color: #000 important;
}
.border-black{
  border:1px solid black important;
}
bg-black{
  background: #000 important;
}
.overlay{ height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: fixed;
        background: white;
        z-index: -1;

}
.small-logo-image {
  width: 20px; /* Adjust the width to your desired value */
  height: auto; /* Maintain the aspect ratio */
}

  /* Styles for large container on xl screen */
  @media (min-width: 1200px) {
    .container {
      max-width: 1200px;
      /* Additional styles for xl screen size */
    }
  }
  
  /* Styles for medium container on md screen */
  @media (min-width: 768px) and (max-width: 991px) {
    .container {
      max-width: 800px;
      /* Additional styles for md screen size */
    }
  }
  
  /* Styles for small container on xs screen */
  @media (max-width: 767px) {
    .container {
      max-width: 600px;
      /* Additional styles for xs screen size */
    }
  }

  