<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a> 
                <a href="" class="dropdown-item">By Rating</a>
                <a href="" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">By Products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                HAll
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
            <a href="{% url 'products' %}?category=wedding" class="dropdown-item">Weddings</a> 
            <a href="{% url 'products' %}?category=birthdays" class="dropdown-item">Birthdays </a>
            <a href="{% url 'products' %}?category=parties" class="dropdown-item">Parties</a>
            <a href="{% url 'products' %}?category=babyshower" class="dropdown-item">BabyShower</a>
            <a href="{% url 'products' %}?category=corporate,events" class="dropdown-item">Corporate Events</a>
            <a href="{% url 'products' %}?category=christmas" class="dropdown-item">Christmas</a>
            <a href="{% url 'products' %}?category=lifestyleshoot,phoroshoot" class="dropdown-item">Lifestyleshoot & Photoshoot</a> 
            <a href="{% url 'products' %}?category=wedding,birthdays,parties,babyshower,corporate,events,lifestyleshoot,phoroshoot" class="dropdown-item">Lifestyleshoot & Photoshoot</a> 
            
        </div>
    </li>
    <li class="nav-item dropdown">
    <a class="logo-font font-weight-bold nav-link text-black mr5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Apartments
    </a>
    <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
        <a href="" class="dropdown-item">By Price</a> 
        <a href="" class="dropdown-item">By Rating</a>
        <a href="" class="dropdown-item">By Category</a>
        <a href="" class="dropdown-item">by Guest</a>
        <a href="" class="dropdown-item">By Availability</a>
        <a href="" class="dropdown-item">By Rooms</a>


    </div>
    </li>
    <li class="nav-item dropdown">
        <a class="logo-font font-weight-bold nav-link text-black mr5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Special Offer
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
            <a href="" class="dropdown-item">Family Packages</a> 
            <a href="" class="dropdown-item">Holiday</a>
            <a href="" class="dropdown-item">CLub</a>
            <a href="" class="dropdown-item">All Special Offer</a>
    
        </div>
    </li>
    </ul>
</div>
