{% load i18n %}  {# Add this line at the top to load the i18n template tag #}
<div class="toast" role="alert" aria-live="info" aria-atomic="true">
  <div class="toast-header">
    <img src="..." class="rounded me-2" alt="...">
    <strong class="me-auto">Alert!</strong>
    <small></small>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body">
    {{ message }}
  </div>
</div>


  <!-- <div class="toast" role="alert" aria-live="info" aria-atomic="true">
    <div class="toast-header">
      <img src="..." class="rounded me-2" alt="...">
      <strong class="me-auto">{% trans "Info" %}</strong>
      <small></small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="{% trans 'Close' %}"></button>
    </div>
    <div class="toast-body">
      {{ message }}
    </div>
  </div> -->
                                  